/* Example wrapper */
.sly-wrap {
  position: relative;
  margin: 3em 0;
}

/* Frame */
.frame {
  height: 250px;
  line-height: 250px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 50px;
}
.frame ul li {
  float: left;
  width: 227px;
  height: 100%;
  margin: 0 1px 0 0;
  padding: 0;
  background: #333;
  color: #ddd;
  text-align: center;
  cursor: pointer;
}
.frame ul li.active {
  color: #fff;
  background: #a03232;
}

/* Scrollbar */
.scrollbar {
  margin: 1em 0 1em 0;
  height: 2px;
  background: #ccc;
  line-height: 0;
}
.scrollbar .handle {
  width: 100px;
  height: 100%;
  background: #292a33;
  cursor: pointer;
}
.scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
}

/* Pages */
.pages {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  text-align: center;
}
.pages li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
  background: #aaa;
}
.pages li.active {
  background: #666;
}

/* Controls */
.controls {
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 1;
}
@media (max-width: 767px) {
  .controls { display: none; }
}
.controls .btn {
  padding: 0px;
  margin: 0px;
  background: transparent;
  font-size: 2.5em;
  position: absolute;
}
.controls .btn:focus,
.controls .btn:active:focus,
.controls .btn.active:focus,
.controls .btn.focus,
.controls .btn:active.focus,
.controls .btn.active.focus {
  background: transparent;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.controls .btn-prev-navigation { left: -40px; }
.controls .btn-next-navigation { right: -40px; }

/* One Item Per Frame example*/
.oneperframe { height: 300px; line-height: 300px; }
.oneperframe ul li { width: 1140px; }
.oneperframe ul li.active { background: #333; }

/* Crazy example */
.crazy ul li:nth-child(2n) { width: 100px; margin: 0 4px 0 20px; }
.crazy ul li:nth-child(3n) { width: 300px; margin: 0 10px 0 5px; }
.crazy ul li:nth-child(4n) { width: 400px; margin: 0 30px 0 2px; }